<section class="card bg-dark text-white m-2">

  <a href="/dashboard/{{id}}" id="blogpost-buttons" class="btn btn-secondary btn-block"><span>{{ title }}</span>  <span>{{ format_date creation_date }}</span></a>
</section>