<section class="card bg-dark text-white m-2">
    <div class="card-header bg-dark">
      Login
    </div>
    <div class="card-text text-dark  m-1">
      <form class="login-form m-1">
        <div class="form-group">
          <label for="username-login">Username:</label>
          <input class="form-control" id="username-login">
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-control" type="password" id="password-login">
        </div>
        <div class="form-group">
          <button class="btn btn-secondary btn-block" type="submit">Login!</button>
        </div>
        <a href="/signup" class="text-dark signup-link">Sign Up Instead</a>
      </form>
    </div>
</section>

<script src="/js/login.js"></script>
