<section class="card bg-dark text-white m-2">
    <div class="card-header bg-dark">
      New Post
    </div>
    <div class="card-text text-dark m-1">
      <form class="login-form m-1">
        <div class="form-group">
          <label for="blogpost-title">Title</label>
          <input class="form-control" id="blogpost-title">
        </div>
        <div class="form-group">
            <label for="blogpost-content">Content</label>
            <textarea class="form-control" id="blogpost-content" rows="2"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-secondary btn-block" type="submit" id="newpost-button">Create</button>
        </div>
      </form>
    </div>
</section>

<script src="/js/newPost.js"></script>