html, body {
  color: teal;
  background-color:  rgb(132, 230, 230);
  height: 100%
}


.app-title {
  color: rgb(19, 27, 4);
  background-color:  rgb(132, 230, 230);
}

.app-title {
  box-shadow: 10px 10px rgb(70, 218, 218);
}

a {
  color: rgb(132, 230, 230);
}

main {
  color:  rgb(19, 27, 4);
  background-color:  rgb(132, 230, 230);
}

.card-text {
  background-color:  rgb(132, 230, 230);
}

#blogpost-buttons {
  display: flex;
  justify-content: space-between;
}

.blogpost-title {
  display: flex;
  justify-content: space-between;
}
